<a href="https://colab.research.google.com/github/ch1b4d4/IP-Week-4-/blob/main/Moringa_Data_Science_Prep_W3_Independent_Project_2022_02_Samson_Nyiro_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [1]:
# Importing the Pandas Library
#
import pandas as pd

# Importing the Numpy Library
#
import numpy as np

In [2]:
#importing the data set into the terminal

df = pd.read_csv('Autolib_dataset (2).csv')
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [3]:
#Exploring the names of the columns the data set has
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [4]:
#Checking for information of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

DATA CLEANING

In [5]:
#Begining of Data Cleaning Process

#Check Null Values
df.isnull()

#check for the number of null values in the dataset
num_rows = df.shape[0]
num_missing = num_rows - df.count() 
num_missing

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [6]:
#Drop the columns with null values
df.drop(['Displayed comment','Scheduled at'], axis = 1, inplace = True) 
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 23 columns]

In [7]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [8]:
#Need to check the naming convetions used for the columns in this dataset. The names will have
#to be renamed to maintain uniformity

df.columns.values.tolist()

['Address',
 'Cars',
 'Bluecar counter',
 'Utilib counter',
 'Utilib 1.4 counter',
 'Charge Slots',
 'Charging Status',
 'City',
 'ID',
 'Kind',
 'Geo point',
 'Postal code',
 'Public name',
 'Rental status',
 'Slots',
 'Station type',
 'Status',
 'Subscription status',
 'year',
 'month',
 'day',
 'hour',
 'minute']

In [9]:
#Changing the names to lowercase
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df.head(2)

                     address  cars  bluecar_counter  ...  day  hour  minute
0        2 Avenue de Suffren     0                0  ...    8    11      43
1  145 Rue Raymond Losserand     6                6  ...    6     7      24

[2 rows x 23 columns]

In [10]:
df.columns.values.tolist()

['address',
 'cars',
 'bluecar_counter',
 'utilib_counter',
 'utilib_1.4_counter',
 'charge_slots',
 'charging_status',
 'city',
 'id',
 'kind',
 'geo_point',
 'postal_code',
 'public_name',
 'rental_status',
 'slots',
 'station_type',
 'status',
 'subscription_status',
 'year',
 'month',
 'day',
 'hour',
 'minute']

In [11]:
#Changing the Datetime format of the columns = 'year', 'day' , 'month'
# df['month'] = pd.to_datetime(df['month'], format='%m')
# df['day'] = pd.to_datetime(df['day'], format='%d')
# df['year'] = pd.to_datetime(df['year'], format='%Y')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   object
 1   cars                 5000 non-null   int64
 2   bluecar_counter      5000 non-null   int64
 3   utilib_counter       5000 non-null   int64
 4   utilib_1.4_counter   5000 non-null   int64
 5   charge_slots         5000 non-null   int64
 6   charging_status      5000 non-null   object
 7   city                 5000 non-null   object
 8   id                   5000 non-null   object
 9   kind                 5000 non-null   object
 10  geo_point            5000 non-null   object
 11  postal_code          5000 non-null   int64
 12  public_name          5000 non-null   object
 13  rental_status        5000 non-null   object
 14  slots                5000 non-null   int64
 15  station_type         5000 non-null   object
 16  status               5000 non-null   object
 17  subscription_status  5000 non-null   object
 18  year                 5000 non-null   int64
 19  month                5000 non-null   int64
 20  day                  5000 non-null   int64
 21  hour                 5000 non-null   int64
 22  minute               5000 non-null   int64
dtypes: int64(12), object(11)
memory usage: 898.6+ KB

In [13]:
#Changing the Data Types of some values in objects to appropriate data types

#1. City
# df['city'].astype(str)
df['city'] = df['city'].astype('string', '|S')
df['charging_status'] = df['charging_status'].astype('string', '|S')
df['subscription_status'] = df['subscription_status'].astype('string', '|S')
df['address'] = df['address'].astype('string', '|S')
df['charging_status'] = df['charging_status'].astype('string', '|S')
df['charging_status'] = df['charging_status'].astype('string', '|S')
df['city'] = df['city'].astype('string', '|S')
df['id'] = df['id'].astype('string', '|S')
df['kind'] = df['kind'].astype('string', '|S')
df['geo_point'] = df['geo_point'].astype('string', '|S')
df['public_name'] = df['public_name'].astype('string', '|S')
df['rental_status'] = df['rental_status'].astype('string', '|S')
df['station_type'] = df['station_type'].astype('string', '|S')
df['status'] = df['status'].astype('string', '|S')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   string
 1   cars                 5000 non-null   int64
 2   bluecar_counter      5000 non-null   int64
 3   utilib_counter       5000 non-null   int64
 4   utilib_1.4_counter   5000 non-null   int64
 5   charge_slots         5000 non-null   int64
 6   charging_status      5000 non-null   string
 7   city                 5000 non-null   string
 8   id                   5000 non-null   string
 9   kind                 5000 non-null   string
 10  geo_point            5000 non-null   string
 11  postal_code          5000 non-null   int64
 12  public_name          5000 non-null   string
 13  rental_status        5000 non-null   string
 14  slots                5000 non-null   int64
 15  station_type         5000 non-null   string
 16  status               5000 non-null   string
 17  subscription_status  5000 non-null   string
 18  year                 5000 non-null   int64
 19  month                5000 non-null   int64
 20  day                  5000 non-null   int64
 21  hour                 5000 non-null   int64
 22  minute               5000 non-null   int64
dtypes: int64(12), string(11)
memory usage: 898.6 KB

In [15]:
#Last attempt to check for null values in the dataset
df.isnull().any()

address                False
cars                   False
bluecar_counter        False
utilib_counter         False
utilib_1.4_counter     False
charge_slots           False
charging_status        False
city                   False
id                     False
kind                   False
geo_point              False
postal_code            False
public_name            False
rental_status          False
slots                  False
station_type           False
status                 False
subscription_status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [16]:
#Drop the column cars as it potrays same data as the blue car counter
clean = df.drop('cars', axis = 1)
clean.head(2)

                     address  bluecar_counter  ...  hour  minute
0        2 Avenue de Suffren                0  ...    11      43
1  145 Rue Raymond Losserand                6  ...     7      24

[2 rows x 22 columns]

In [17]:
#Removing of white spaces from the dataset
clean.columns = clean.columns.str.strip().str.lower().str.replace(' ', '_')
clean.head(2)

                     address  bluecar_counter  ...  hour  minute
0        2 Avenue de Suffren                0  ...    11      43
1  145 Rue Raymond Losserand                6  ...     7      24

[2 rows x 22 columns]

In [18]:
#Dropping all rows where the value of "Bluecar counter" is less than 0 or greater than 7
blue_clean = clean[(clean['bluecar_counter'] < 0) & (clean['bluecar_counter'] > 7) ].index
clean.drop(blue_clean , inplace=True)
# clean.head(2)

In [19]:
#Dropping all rows where the value of "utlib counter" is less than 0 or greater than 4
utlib_clean = clean[(clean['utilib_counter'] < 0) & (clean['utilib_counter'] > 4) ].index
clean.drop(utlib_clean , inplace=True)
# utlib_clean.shape
# clean.shape

In [20]:
#Dropping all rows where the value of "utilib_1.4_counter" is less than 0 or greater than 5
utlib_14_clean = clean[(clean['utilib_1.4_counter'] < 0) & (clean['utilib_1.4_counter'] > 5) ].index
clean.drop(utlib_14_clean , inplace=True)

In [21]:
#Dropping all rows where the value of "charge_slots" is less than 0 or greater than 3
charge_clean = clean[(clean['charge_slots'] < 0) & (clean['charge_slots'] > 3) ].index
clean.drop(charge_clean , inplace=True)

In [22]:
#Combining the date, month and year columns to make one column with this information
clean['date']=pd.to_datetime(clean[['year','month','day', 'hour', 'minute']])
clean.head()

                              address  ...                date
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00

[5 rows x 23 columns]

In [23]:
clean = clean.drop(["year","month","day","hour","minute"], axis = 1)
clean.head(2)

                     address  ...                date
0        2 Avenue de Suffren  ... 2018-04-08 11:43:00
1  145 Rue Raymond Losserand  ... 2018-04-06 07:24:00

[2 rows x 18 columns]

Analysis Exercises using Bluecar_Counter


---

In [32]:
#Question/Challenge 1

#Identify the most popular hour of the day for picking up a shared electric car 
# (Bluecar) in the city of Paris over the month of April 2018.

#Define a dataset with Paris as the city and the blue car being used at a specific time

paris = clean[clean['city'] == 'Paris']

#Using the Dataset with the city as Paris to see the time cars were always available
#at specific stations to show how popular that time and station was

blue_paris = (paris[["bluecar_counter", "date", "address", "id"]])
paris_b = blue_paris.sort_values(["bluecar_counter", "address", "id", "date"],ascending = True)
paris_b.head()

      bluecar_counter                date            address                id
299                 0 2018-04-01 15:52:00  1 Avenue Gambetta  paris-gambetta-1
1940                0 2018-04-07 20:47:00  1 Avenue Gambetta  paris-gambetta-1
4850                0 2018-04-05 06:51:00   1 Avenue Marceau   paris-marceau-1
2547                0 2018-04-05 22:28:00   1 Avenue Marceau   paris-marceau-1
3006                0 2018-04-06 06:52:00   1 Avenue Marceau   paris-marceau-1

In [25]:
#least Popular Time to pick blue cars
paris_b.tail()

      bluecar_counter  ...               id
1786                6  ...  paris-crimee-82
4809                6  ...   paris-bercy-88
1775                6  ...  paris-raspail-9
2470                7  ...  paris-renault-2
3115                7  ...  paris-renault-2

[5 rows x 4 columns]

In [26]:
#Question 2
#What is the most popular hour for returning cars?
#This solution checked for solutions from other areas apart from the Paris area
returned_cars = clean[clean['bluecar_counter'] >= 7]
returned_cars[['date', 'address']].value_counts()

date                 address
2018-04-01 00:05:00  1 rue de l'Avenir                             1
2018-04-07 16:00:00  3 avenue LÃ©o Lagrange                        1
2018-04-06 00:54:00  1 rue Claude Terrasse                         1
2018-04-06 06:49:00  99 rue Charles-de-Gaulle                      1
2018-04-06 07:33:00  16 avenue GalilÃ©e                            1
2018-04-06 11:08:00  99 rue Charles-de-Gaulle                      1
2018-04-06 13:08:00  19 rue LÃ©on Renault                          1
2018-04-07 13:45:00  2 rue Paul Dautier                            1
2018-04-07 15:22:00  16 avenue GalilÃ©e                            1
2018-04-08 04:36:00  204 rue dâEstienne dâOrves                1
2018-04-05 21:20:00  6 rue Isidore Nerat                           1
2018-04-08 13:14:00  40 Avenue Victor Hugo                         1
2018-04-08 20:34:00  1 avenue Hoche                                1
2018-04-09 03:12:00  2 rue du GÃ©nÃ©ral Renault                    1
2018-04-09 05:42:00  16 avenue GalilÃ©e                            1
2018-04-09 12:13:00  16 avenue GalilÃ©e                            1
2018-04-09 13:27:00  68 rue de la Bonne Aventure                   1
2018-04-09 13:41:00  14 rue Lavoisier                              1
2018-04-06 00:47:00  7 rue Pottier                                 1
2018-04-05 12:39:00  1 allÃ©e Parc LagravÃ¨re                      1
2018-04-01 00:49:00  22 rue de Normandie                           1
2018-04-02 08:41:00  20 Rue Saint John Perse                       1
2018-04-01 03:12:00  205 Avenue Georges ClÃ©menceau                1
2018-04-01 04:27:00  16 avenue GalilÃ©e                            1
2018-04-01 05:09:00  68 rue de la Bonne Aventure                   1
2018-04-01 11:49:00  60 Avenue du PrÃ©sident Franklin Roosevelt    1
2018-04-01 13:35:00  2 rue Paul Dautier                            1
2018-04-01 17:35:00  22 Voie au Lard                               1
2018-04-01 20:11:00  205 Avenue Georges ClÃ©menceau                1
2018-04-03 01:33:00  14 place Moreau David                         1
2018-04-05 09:22:00  16 avenue GalilÃ©e                            1
2018-04-03 02:46:00  29 rue Saint Stenay                           1
2018-04-03 04:20:00  14 place Moreau David                         1
2018-04-03 04:37:00  194 rue de fontenay                           1
2018-04-03 07:23:00  31 avenue de la Division Leclerc              1
2018-04-04 04:09:00  31 avenue de la Division Leclerc              1
2018-04-04 10:17:00  11 rue de vincennes                           1
2018-04-05 06:54:00  16 avenue GalilÃ©e                            1
2018-04-09 17:24:00  2 rue du GÃ©nÃ©ral Renault                    1
dtype: int64

In [27]:
returned_cars['date'].max()

Timestamp('2018-04-09 17:24:00')

In [28]:
#Popular time to return the cars in Paris
returned_cars = paris[paris['bluecar_counter'] >= 7]
returned_cars[['date', 'address','postal_code']]

                    date                     address  postal_code
2470 2018-04-09 03:12:00  2 rue du GÃ©nÃ©ral Renault        75011
3115 2018-04-09 17:24:00  2 rue du GÃ©nÃ©ral Renault        75011

In [29]:
#Question 3
#What postal code is the most popular for picking up Blue cars? 
# Does the most popular station belong to that postal code?

paris[['bluecar_counter', 'postal_code', 'id', 'address','date']].mode()

   bluecar_counter  ...                date
0                0  ... 2018-04-06 05:52:00

[1 rows x 5 columns]

In [30]:
# checking for the location of the tw stations. the popular in dropping and picking up the cars
geo1 = clean[clean['address'] == '8 Avenue de la Porte de Montrouge']
geo2 = clean[clean['address'] == '2 rue du GÃ©nÃ©ral Renault']

print(f"\nlocation is {geo1['geo_point'].unique()}")

print(f"\nlocation is {geo2['geo_point'].unique()}")

location is <StringArray>
['48.8230593, 2.322823']
Length: 1, dtype: string

location is <StringArray>
['48.8611413, 2.3781941']
Length: 1, dtype: string

Use of Utlib in place of Blue Cars Counte

In [33]:
#Question/Challenge 1

#Identify the most popular hour of the day for picking up a shared electric car 
# (utlib) in the city of Paris over the month of April 2018.

#Define a dataset with Paris as the city and the blue car being used at a specific time

paris = clean[clean['city'] == 'Paris']

#Using the Dataset with the city as Paris to see the time cars were always available
#at specific stations to show how popular that time and station was

utlib_paris = (paris[["utilib_counter", "date", "address", "id"]])
utlib_b = utlib_paris.sort_values(["utilib_counter", "address", "id", "date"],ascending = True)
utlib_b.head()

      utilib_counter                date            address                id
299                0 2018-04-01 15:52:00  1 Avenue Gambetta  paris-gambetta-1
1940               0 2018-04-07 20:47:00  1 Avenue Gambetta  paris-gambetta-1
4486               0 2018-04-09 13:24:00  1 Avenue Gambetta  paris-gambetta-1
962                0 2018-04-01 16:14:00   1 Avenue Marceau   paris-marceau-1
4850               0 2018-04-05 06:51:00   1 Avenue Marceau   paris-marceau-1

In [34]:
#least Popular Time for utlib
utlib_b.tail()

      utilib_counter  ...                     id
2836               2  ...       paris-lourmel-33
2960               2  ...       paris-monceau-43
846                2  ...  paris-armandcarrel-46
3237               2  ...      paris-hericart-54
3222               2  ...         paris-arago-99

[5 rows x 4 columns]

In [44]:
#Question 2
#What is the most popular hour for returning utlib cars?
#This solution checked for solutions from other areas apart from the Paris area
returned_utlib = clean[clean['utilib_counter'] > 0]
returned_utlib[['date', 'address']].value_counts()

date                 address
2018-04-01 00:19:00  20 Boulevard Ãmile Augier    1
2018-04-06 21:13:00  99 Boulevard Arago            1
2018-04-07 05:40:00  92 rue Pierre Brossolette     1
2018-04-07 03:54:00  109 Rue du 8 mai 1945         1
2018-04-07 03:10:00  162 rue Championnet           1
                                                  ..
2018-04-03 20:34:00  19 Rue Polonceau              1
2018-04-03 21:16:00  31 Boulevard Rochechouart     1
2018-04-03 22:22:00  30 avenue de Verdun           1
2018-04-04 01:21:00  30 rue Marcel Vigneron        1
2018-04-09 22:14:00  12 rue Chernoviz              1
Length: 286, dtype: int64

In [45]:
returned_utlib['date'].max()

Timestamp('2018-04-09 22:14:00')

In [51]:
#Popular time to return the cars in Paris
returned_utlib = paris[paris['utilib_counter'] >= 2]
returned_utlib[['date', 'address','postal_code']]

                    date                    address  postal_code
77   2018-04-04 02:59:00  31 Boulevard Rochechouart        75009
846  2018-04-08 08:19:00       46 rue Armand Carrel        75019
2429 2018-04-02 07:52:00      161 Avenue de Suffren        75015
2836 2018-04-05 06:39:00          33 rue de Lourmel        75015
2960 2018-04-08 08:42:00          43 Rue de Monceau        75008
3222 2018-04-06 21:13:00         99 Boulevard Arago        75014
3237 2018-04-04 08:04:00           54 rue HÃ©ricart        75015
3329 2018-04-05 18:10:00    19 rue de Chateaubriand        75008

In [55]:
returned_utlib.value_counts()

address                    bluecar_counter  utilib_counter  utilib_1.4_counter  charge_slots  charging_status  city   id                      kind     geo_point              postal_code  public_name             rental_status  slots  station_type  status  subscription_status  date
161 Avenue de Suffren      1                2               0                   1             operational      Paris  paris-suffren-161       STATION  48.84595, 2.309411     75015        Paris/Suffren/161       operational    3      station       ok      nonexistent          2018-04-02 07:52:00    1
19 rue de Chateaubriand    2                2               0                   0             operational      Paris  paris-chateaubriand-19  STATION  48.8734765, 2.3008886  75008        Paris/Chateaubriand/19  operational    0      station       ok      nonexistent          2018-04-05 18:10:00    1
31 Boulevard Rochechouart  2                2               0                   0             operational      Paris  paris-rochechouart-31   STATION  48.8829733, 2.3454871  75009        Paris/Rochechouart/31   operational    1      station       ok      nonexistent          2018-04-04 02:59:00    1
33 rue de Lourmel          2                2               1                   0             nonexistent      Paris  paris-lourmel-33        STATION  48.8482831, 2.2905269  75015        Paris/Lourmel/33        operational    0      station       ok      nonexistent          2018-04-05 06:39:00    1
43 Rue de Monceau          0                2               0                   2             operational      Paris  paris-monceau-43        STATION  48.8778333, 2.310832   75008        Paris/Monceau/43        operational    4      station       ok      nonexistent          2018-04-08 08:42:00    1
46 rue Armand Carrel       1                2               0                   0             operational      Paris  paris-armandcarrel-46   STATION  48.8829, 2.376374      75019        Paris/Armand Carrel/46  operational    1      station       ok      nonexistent          2018-04-08 08:19:00    1
54 rue HÃ©ricart           0                2               1                   0             nonexistent      Paris  paris-hericart-54       STATION  48.8490157, 2.2874011  75015        Paris/HÃ©ricart/54      operational    0      station       ok      nonexistent          2018-04-04 08:04:00    1
99 Boulevard Arago         1                2               0                   0             nonexistent      Paris  paris-arago-99          STATION  48.834286, 2.3338533   75014        Paris/Arago/99          operational    1      station       ok      nonexistent          2018-04-06 21:13:00    1
dtype: int64

In [52]:
#Question 3
#What postal code is the most popular for picking up utilib? 
# Does the most popular station belong to that postal code?

paris[['utilib_counter', 'postal_code', 'id', 'address','date']].mode()

   utilib_counter  ...                date
0               0  ... 2018-04-06 05:52:00

[1 rows x 5 columns]

In [57]:
# checking for the location of the tw stations. the popular in dropping and picking up the cars
geo3 = clean[clean['address'] == '8 Avenue de la Porte de Montrouge']
geo4 = clean[clean['address'] == '161 Avenue de Suffren']

print(f"\nlocation is {geo3['geo_point'].unique()}")

print(f"\nlocation is {geo4['geo_point'].unique()}")

location is <StringArray>
['48.8230593, 2.322823']
Length: 1, dtype: string

location is <StringArray>
['48.84595, 2.309411']
Length: 1, dtype: string

Analysis using Utilib_1.4_counter

In [60]:
#Question/Challenge 1

#Identify the most popular hour of the day for picking up a shared electric car 
# (utlib_1.4) in the city of Paris over the month of April 2018.

#Define a dataset with Paris as the city and the blue car being used at a specific time

paris = clean[clean['city'] == 'Paris']

#Using the Dataset with the city as Paris to see the time cars were always available
#at specific stations to show how popular that time and station was

utlib_14_paris = (paris[["utilib_1.4_counter", "date", "address", "id"]])
utlib_14_b = utlib_14_paris.sort_values(["utilib_1.4_counter", "address", "id", "date"],ascending = True)
utlib_14_b.head()

      utilib_1.4_counter  ...                id
299                    0  ...  paris-gambetta-1
1940                   0  ...  paris-gambetta-1
4486                   0  ...  paris-gambetta-1
962                    0  ...   paris-marceau-1
4850                   0  ...   paris-marceau-1

[5 rows x 4 columns]

In [65]:
#Question 2
#What is the most popular hour for returning utlib cars?
#This solution checked for solutions from other areas apart from the Paris area
returned_14_utlib = clean[clean['utilib_1.4_counter'] > 2]
returned_14_utlib[['date', 'address']].value_counts()

date                 address
2018-04-01 00:20:00  123 Grande Rue             1
2018-04-06 13:55:00  109 avenue FÃ©lix Faure    1
dtype: int64

In [66]:
returned_14_utlib['date'].max()

Timestamp('2018-04-06 13:55:00')

In [70]:
#Popular time to return the cars in Paris
returned_14_utlib = paris[paris['utilib_1.4_counter'] >= 3]
returned_14_utlib[['date', 'address','postal_code']]

                   date                  address  postal_code
990 2018-04-06 13:55:00  109 avenue FÃ©lix Faure        75015

In [71]:
returned_14_utlib.value_counts()

address                  bluecar_counter  utilib_counter  utilib_1.4_counter  charge_slots  charging_status  city   id                    kind   geo_point              postal_code  public_name             rental_status  slots  station_type  status  subscription_status  date
109 avenue FÃ©lix Faure  2                0               3                   0             operational      Paris  paris-felixfaure-109  SPACE  48.8389208, 2.2824849  75015        Paris/FÃ©lix Faure/109  operational    0      full_station  ok      broken               2018-04-06 13:55:00    1
dtype: int64

In [72]:
#Question 3
#What postal code is the most popular for picking up utilib? 
# Does the most popular station belong to that postal code?

paris[['utilib_1.4_counter', 'postal_code', 'id', 'address','date']].mode()

   utilib_1.4_counter  ...                date
0                   0  ... 2018-04-06 05:52:00

[1 rows x 5 columns]

In [73]:
# checking for the location of the tw stations. the popular in dropping and picking up the cars
geo3 = clean[clean['address'] == '8 Avenue de la Porte de Montrouge']
geo4 = clean[clean['address'] == '109 avenue FÃ©lix Faure']

print(f"\nlocation is {geo3['geo_point'].unique()}")

print(f"\nlocation is {geo4['geo_point'].unique()}")

location is <StringArray>
['48.8230593, 2.322823']
Length: 1, dtype: string

location is <StringArray>
['48.8389208, 2.2824849']
Length: 1, dtype: string

Further research on the popuar stations and potsal codes

In [74]:
clean.head(2)

                     address  ...                date
0        2 Avenue de Suffren  ... 2018-04-08 11:43:00
1  145 Rue Raymond Losserand  ... 2018-04-06 07:24:00

[2 rows x 18 columns]

In [78]:
#The first 

# charge_slots	charging_status 	postal_code

pop_station = clean[clean['address'] == '8 Avenue de la Porte de Montrouge']


pop_info = pop_station.sort_values(["charge_slots", "charging_status", "id", "postal_code"],ascending = True)

pop_info

                                address  ...                date
1010  8 Avenue de la Porte de Montrouge  ... 2018-04-06 02:46:00
1282  8 Avenue de la Porte de Montrouge  ... 2018-04-07 10:37:00
1527  8 Avenue de la Porte de Montrouge  ... 2018-04-08 15:00:00
2112  8 Avenue de la Porte de Montrouge  ... 2018-04-01 11:19:00
3307  8 Avenue de la Porte de Montrouge  ... 2018-04-08 12:30:00
3558  8 Avenue de la Porte de Montrouge  ... 2018-04-02 03:50:00
4490  8 Avenue de la Porte de Montrouge  ... 2018-04-04 00:21:00
122   8 Avenue de la Porte de Montrouge  ... 2018-04-08 19:57:00
194   8 Avenue de la Porte de Montrouge  ... 2018-04-08 16:05:00
3392  8 Avenue de la Porte de Montrouge  ... 2018-04-08 21:04:00
360   8 Avenue de la Porte de Montrouge  ... 2018-04-02 22:12:00
2179  8 Avenue de la Porte de Montrouge  ... 2018-04-01 19:41:00
2991  8 Avenue de la Porte de Montrouge  ... 2018-04-05 14:09:00

[13 rows x 18 columns]